*{box-sizing: borderbox}

body{
margin:0;
font-size: 1.5rem;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button{ font: inherit}